.text-input {
    margin: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--clr-ntrl-dkr-20);
    border-left: none;
    padding: 0 0 12px 0;
    width: 100%;
    font-size: calc(1px * var(--fs-m));
    outline: none;
}

:focus-visible {
    border-color: darkblue;
}