.button_type_icon {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity linear 100ms;
}

.button_type_icon:hover {
    opacity: 0.6;
}