.card__about {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 0 16px 0 20px;
    background-color: var(--clr-ntrl-ltr);
}