.top-bar__add {
    width: 100%;
    height: 50px;
    background-size: calc(16px + 6 * var(--norm-xs));
}

@media screen and (min-width: 800px) {
    .top-bar__add {
        max-width: 150px;
    }
}