.button_type_close {
    background-color: transparent;
    background-image: url("../../../images/close.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.button_type_close:hover {
    opacity: 0.6;
}