.page__container {
    max-width: 880px;
    padding: calc(20px + 16 * var(--norm-xs));
}

@media screen and (min-width: 640px) {
    .page__container {
        padding: calc(36px - 36 * var(--norm-s));
    }
}